.post-comments{
    border-radius: $border18!important;
    .comments-title{
        font-family: $font_default;
        font-style: normal!important;
    }
    .comment-list .comment-body .reply .comment-reply-link{
        @extend %link;
    }

    .fn{
        .url{
            @extend %link;
            text-decoration: none!important;
        }
    }

    .comment-respond{
        .comment-reply-title{
            font-family: $font_default;
            text-transform: uppercase;
            color: $blue;
            font-size: 20px;
            line-height: 22px;
            font-weight: bold;
        }
        .comment-form{
            font-family: $font_default;
            .comment-notes{
                font-weight: 300;
                line-height: 19px;
                color: $gray;
            }
            .comment-form-comment{
                text-align: left;
                textarea{
                    border-radius: $border5;
                    padding: 0 1rem;
                    resize: none;
                    &:focus{
                        box-shadow: 0px 4px 30px rgba(226, 226, 226, 0.35);
                        border: 1.2px solid $blue!important;
                    }
                }
            }

            .comment-form-author, .comment-form-email, .comment-form-url{
                text-align: left;
                input{
                    border-radius: $border5;
                    padding: 0.5rem 1rem;
                    &:focus{
                        box-shadow: 0px 4px 30px rgba(226, 226, 226, 0.35);
                        border: 1.2px solid $blue!important;
                    }  
                }
            }

            .form-submit{
                .submit{
                    @extend %btn-comment;
                    transition: transform 0.4s ease-in-out;
                    &:hover{
                        transform: scale(1.04);
                    }
                }
                
            }
        }
    }
    .comment-form .logged-in-as a{
        @extend %link;
    }
        
}

// Botões Previous e Next

.navigation{
    .nav-links{
        display: flex;
        justify-content: center;
        .prev-article{
            a{
                @extend %next-prev-button;
            }
        }
        .next-article{
            a{
                @extend %next-prev-button;
            }
        }
    }
}
