.site-info{
    background: $blue;
    .copy-right-section{
        .copyright{
            font-family: $font_default;
            color: $white;
            font-style: normal;
        }
        .powered-by{
            font-family: $font_default;
            color: $white;
            font-style: normal;
            font-weight: lighter;
        }
    }
}
