.sidebar{
    .secondary-inner{
        border-radius: $border18!important;
        font-family: $font_default!important;
        overflow: hidden;
        .sidebar-headline-wrapper{
            .widget-title{
                font-family: $font_default!important;
                color: $blue!important;
                font-style: normal!important;
                font-weight: bold;
                text-transform: uppercase!important;
                font-size: 20px!important;
                line-height: 22px!important;
            }
        }
        .widget_recent_entries{
            @extend %aside-links;
        }
        .widget_recent_comments{
            @extend %aside-comments;
        }
        .widget_archive{
            @extend %aside-links;
        }
        .widget_categories{
            @extend %aside-links;
        }
        .widget_meta{
            @extend %aside-links;
        }
    }
}