.post-thumbnail-wrap{
    font-family: $font_default!important;
    transition: all 0.4s ease-in-out;
    .entry-title {
        a{
            color: $white!important;
            text-transform: uppercase;
            font-family: $font_default!important;
            font-style: normal!important;
            font-size: 2rem!important;
            font-weight: 500!important;
            line-height: 24px!important;
        }
    }
    .entry-date{
        font-weight: 500!important;
        letter-spacing: 0.085em;
    }
    &:hover{
        .readmore-button{
            opacity: 1!important;
        }
        .img-overlay{
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(68, 67, 76, 0.64) 88%, rgba(73, 70, 90, 0.65) 89%);
        }
    }
}

.article-grid-container{
    @media (max-width: $bp-767) {
        margin-top: -25%!important;
        padding: 0 25px;
    }
}