.pagination{
    font-family: $font_default;
    .nav-links{
        .page-numbers{
            font-family: $font_default;
            border-radius: 100px;
            background: transparent;
            border: 2px solid gray;
            transform: scale(0.93);
            transition: transform 0.4s ease-in-out;
            color: $blue;
            font-weight: bold;
            &:hover{
                transform: scale(1);
            }
        }
        .current{
            font-family: $font_default;
            background: $blue;
            color: $white!important;
            font-weight: bold;
            border: 2px solid transparent;
            transform: scale(1);
            &:hover{
                transform: scale(1);
            }
        }
        .next{
            border: 0!important;
            visibility: visible!important;
            width: auto!important;
            border-radius: 0;
            background-color: #e8e8e8!important;
            height: 40px!important;
            display: flex!important;
            align-items: center;
            font-weight: lighter!important;
            &:before{
                display: none!important;
            }
            &:hover{
                font-weight: 400!important;
            }
        }
        .prev{
            border: 0!important;
            visibility: visible!important;
            width: auto!important;
            border-radius: 0;
            background-color: #e8e8e8!important;
            height: 40px!important;
            display: flex!important;
            align-items: center;
            font-weight: lighter!important;
            &:before{
                display: none!important;
            }
            &:hover{
                font-weight: 400!important;
            }
        }
    }
}