aside{
    .search-form{
        z-index: 1;
        label{
            .search-field{
                @extend %input;
                width: 100%!important;
            }
        }
        .search-submit{
            background: $btn-blue!important;
            border-color: $blue!important;
            position: absolute;
            right: 1%;
            width: 100px!important;
            height: 80%;
            display: block;
            margin: auto 0;
            border-radius: $border100!important;
            &:before{
                content: 'buscar'!important;
                font-family: $font_default!important;
                text-transform: uppercase!important;
                font-size: 13px!important;
                font-weight: 500!important;
                bottom: 2px;
                letter-spacing: 0.06em!important;
            }
            &:focus{
                outline: none;
            }
            &:hover{
                &:after{
                    width: 50px;
                }
            }
            &:after{
                content: '';
                position: absolute;
                background: $yellow;
                width: 0%;
                transition: width 0.4s ease-in-out;
                bottom: 7px;
                height: 2px;
                left: 25px;
            }
        }
        &:after{
            content: '';
            position: absolute;
            left: -20px;
            bottom: -45%;
            width: 750px;
            height: 80px;
            background: $yellow;
            z-index: -1;
        }
    }
}

.home-inputs{
    label{
        @media (max-width: $bp-991) {
            width: 100%!important;
        }
    }
    .search-form{
        z-index: 1;
        label{
            .search-field{
                @extend %input;
                width: 100%!important;
            }
        }
        .search-submit{
            background: $btn-blue!important;
            border-color: $blue!important;
            position: absolute;
            right: 1%;
            width: 100px!important;
            height: 80%;
            display: block;
            margin: auto 0;
            border-radius: $border100!important;
            &:before{
                content: 'buscar'!important;
                font-family: $font_default!important;
                text-transform: uppercase!important;
                font-size: 13px!important;
                font-weight: 500!important;
                bottom: 2px;
                letter-spacing: 0.06em!important;
            }
            &:focus{
                outline: none;
            }
            &:hover{
                &:after{
                    width: 50px;
                }
            }
            &:after{
                content: '';
                position: absolute;
                background: $yellow;
                width: 0%;
                transition: width 0.4s ease-in-out;
                bottom: 7px;
                height: 2px;
                left: 25px;
            }
        }
        @media (max-width: $bp-991) {
            width: 100%!important;
        }
    }
}

.page-content{
    .search-form{
        z-index: 1;
        label{
            .search-field{
                @extend %input;
                width: 100%!important;
            }
        }
        .search-submit{
            background: $btn-blue!important;
            border-color: $blue!important;
            position: absolute;
            right: 1%;
            width: 100px!important;
            height: 80%;
            display: block;
            margin: auto 0;
            border-radius: $border100!important;
            &:before{
                content: 'buscar'!important;
                font-family: $font_default!important;
                text-transform: uppercase!important;
                font-size: 13px!important;
                font-weight: 500!important;
                bottom: 2px;
                letter-spacing: 0.06em!important;
            }
            &:focus{
                outline: none;
            }
            &:hover{
                &:after{
                    width: 50px;
                }
            }
            &:after{
                content: '';
                position: absolute;
                background: $yellow;
                width: 0%;
                transition: width 0.4s ease-in-out;
                bottom: 7px;
                height: 2px;
                left: 25px;
            }
        }
    }
}



