.archive-page-header{
    @media (max-width: $bp-767) {
        margin-bottom: 30%!important;
    }
}

.archive-page-title{
    @extend %title;
    &:after{
        display: block;
        content: ' ';
        width: 100px;
        height: 3px!important;
        background: $yellow!important;
        margin: 5px auto 5px!important;
    }
}