.header-integra{
    .navbar-default{
        background: $bg-integra!important;
        height: 190px!important;
    }

    .navbar-header{

        .custom-logo{
            filter: none;
        }
        .custom-logo-link{
            position: relative;
            &:before{
                background: transparent!important;
            }
            &:after{
                position: absolute;
                content: '← Voltar'!important;
                color: $white!important;
                font-family: $font_default;
                width: 100%;
                white-space: nowrap;
                bottom: -15px;
                left: 0;
                text-align: center;
            }
        }
    }

    @media (max-width: 500px) {
        .navbar{
            left: 0% !important;
            margin-bottom: 10%!important;
        }
    }
}


// POSTS

.integra{
    .post-content{
        border-radius: $border18!important;
        box-shadow: 0px 4px 30px rgba(226, 226, 226, 0.69)!important;
        .entry-header{
            .entry-title{
                font-family: $font_default;
                text-transform: uppercase;
                font-style: normal!important;
                font-weight: bold!important;
                color: $blue;
            }
            .entry-date{
                font-family: $font_default!important;
                font-style: normal!important;
                line-height: 16px;
                letter-spacing: 0.085em;
                font-weight: bold;
                text-transform: uppercase;
                color: $yellow_2;
            }
        }
        .entry-content{
            p{
                font-family: $font_default;
                font-weight: 300;
                font-size: 17px;
                line-height: 28px;
            }
        }
    }
}
