.navbar-header{

.custom-logo-link{
    position: relative;
    &:before{
        position: absolute;
        content: '';
        width: calc(100% + 10px);
        background: $bg-gray;
        height: calc(100% + 10px);
        border-radius: 15px!important;
        top: 3px;
        right: -5px;
    }
}
    .custom-logo{
        filter: $blue_logo;
    }
    @media (max-width: $bp-991){
        float: none!important;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
}

.navbar{
    @media (max-width: $bp-767) {
        position: relative!important;
        top: 170px!important;
    }
    @media (max-width: $bp-500){
        left: -25%!important;

    }
}

#masthead{
    @media (max-width: $bp-767) {
        position: relative!important;
        bottom: 170px!important;
        margin-bottom: 5%!important;
    }
}

.site-branding{
    text-align: left!important;
    @media (max-width: $bp-991) {
        text-align: center!important;
    }
    .home-link{
        position: relative;
        left: 10%;
        top: 20px;
        z-index: 1;
        &:before{
            position: absolute;
            content: '';
            width: 85%;
            background: $bg-gray;
            height: calc(100% + 10px);
            border-radius: 15px!important;
            top: -10px;
            left: -30px;
            z-index: -1;
        }
        @media (max-width: $bp-991){
            left: 0;
            top: 0;
            &:before{
                position: absolute;
                content: '';
                width: calc(100% + 65px);
                background: $bg-gray;
                height: calc(100% + 10px);
                border-radius: 15px!important;
                top: 6px;
                left: -30px;
                z-index: -1;
            }
        }
        .site-blog{
            font-family: $font_default;
            color: $blue_2;
            font-size: 32px;
            font-weight: 300;
            @media (max-width: $bp-767) {
                position: relative!important;
                left: 30%!important;
            }
        }
        .site-title{
            font-family: $font_default!important;
            font-style: normal!important;
            position: relative;
            line-height: 34px;
            &:before{
                position: absolute;
                content: '';
                background: url('../images/headers/ciclotec-person.png') center no-repeat;
                background-size: cover;
                width: 160px;
                height: 360px;
                right: 99%;
                top: -25px;
                @media (min-width: 992px) and(max-width: $bp-1199){
                    right: 95%;
                    top: -28px;
                }
                @media (max-width: $bp-991){
                    width: 160px;
                    height: 360px;
                    right: 65%;
                    top: -120px;
                }
                @media (max-width: $bp-500){
                    display: none;
                }
            }
            @media (max-width: $bp-767) {
                padding-left: 66.5%;
            }
        }
        .home-inputs{
            display: flex;
            margin: 0 0 0 20%;
            position: relative;
            bottom: 50px;
            @media (max-width: $bp-991) {
                display: block;
                margin: 11% 0 0 0;
                bottom: 0;
            }

            .input-category{
                @extend %input;
                margin-right: 5%;
                width: 30%;
                font-weight: 500;
                line-height: 16px;
                font-size: 1.5rem;
                letter-spacing: 0.06em;
                color: $blue;
                position: relative;

                &:focus{
                    outline: none;
                }
                
                option{
                    font-size: 1.5rem!important;
                    font-weight: 500!important;
                    &:nth-child(1){
                        display: none;
                    }
                }
                @media (max-width: $bp-991) {
                    margin-right: 0;
                    margin-bottom: 5%;
                    width: 100%;
                }
                
                @extend %yellow-arrow;
            }
            .search-form{
                width: 350px;
            }
        }
    }

}