.search-page-title{
    @extend %title;
    &:after{
        display: block;
        content: ' ';
        width: 100px;
        height: 3px!important;
        background: $yellow!important;
        margin: 5px auto 5px!important;
    }
}


// Quando não encontrar resultados

.no-results {
    .page-header{
        .page-title{
            font-family: $font_default!important;
        }
        .page-content{
            p{
            font-family: $font_default!important; 
            }
        }
    }
}

// Quando a Página não existe
.not-found{
    @media (max-width: $bp-991){
        margin-bottom: 10%;
        text-align: center;
    }
}


