// Placeholders

%input{
    font-family: $font_default;
    font-size: 1.5rem;
    line-height: 136%;
    border: 0;
    border-radius: $border100!important;
    background: $white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    height: 40px;
    padding-left: 1rem;
    &::placeholder{
        font-weight: 500;
        line-height: 16px;
        font-size: 1.5rem;
        letter-spacing: 0.06em;
        color: $blue;
    }
}

%btn-search{
    background: $btn-blue;
    border: 0;
    font-family: $font_default;
    padding: 0.4rem 3rem;
    border-radius: 19.5px;
    color: $white;
}

%btn-comment{
    background: $btn-blue!important;
    border: 0;
    border-radius: $border100!important;
    font-family: $font_default;
    padding: 1.5rem 3rem!important;
    border-radius: 19.5px;
    color: $white;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.06em;
    font-size: 13px;
    font-weight: 400!important;
}

// Yellow Arrow

%yellow-arrow{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, $yellow 50%),linear-gradient(135deg, $yellow 50%, transparent 50%), linear-gradient(to right, white, white);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 14px) calc(1em + 2px),100% 0;
    background-size: 6px 6px, 6px 6px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

// Title 

%title{
    font-family: $font_default!important;
    text-transform: uppercase!important;
    font-style: normal !important;
    font-weight: bold !important;
    color: $blue!important;
}

// Links 

%link{
    color: $gray!important;
    &:hover{
        color: $blue!important;
        text-decoration: underline;
    }  
}


// Botão Next and Prev Integra

%next-prev-button{
    border-radius: $border18!important;
    min-height: 131px!important;
    padding: 1.25em 3.5em!important;
    transition: all 0.4s ease-in-out;
    .next-prev-text{
        font-family: $font_default;
        color: $blue!important;
        text-transform: uppercase;
        line-height: 22px;
        font-size: 18px!important;
        font-weight: 20px;
    }
    p{
        color: $gray!important;
        font-family: $font_default;
        font-size: 14px!important;
        font-weight: 300!important;
        text-align: center!important;
        text-transform: capitalize!important;
    }
    &:hover{
        transform: scale(1.04);
    }
}

// Aside

%aside-links{
    ul{
        li{
            margin: 1.5rem 0!important;
            a{
                font-family: $font_default!important;
                color: $gray!important;
                font-weight: 400!important;
                line-height: 17px!important;
                position: relative;
                margin: 0!important;
                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    transition: width 0.4s ease-in-out;
                    width: 0;
                    height: 3px;
                    background: $yellow;
                }
                &:hover{
                    font-weight: 500!important;
                    color: $blue!important;
                        &:after{
                            width: 50px;
                        }
                }
            }
        }
    }
}

%aside-comments{
    ul{
        li{
            .comment-author-link{
                a{
                    color: $gray!important;
                    font-weight: bold!important;
                    &:hover{
                        color: $blue!important;
                    }
                }
            }
            a{
                color: $gray!important;
                font-weight: bold!important;
                &:hover{
                    color: $blue!important;
                }
            }
            color: $gray!important;
        }
    }
}

