// Fontes
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&display=swap');

$font_default: 'Fira Sans', sans-serif;

// Cores

$yellow: #FFC801;
$yellow_2: #FFC700;
$white: #fff;
$blue: #3E4095;
$blue_2: #1B5176;
$gray: #393939;
$btn-blue: linear-gradient(192.77deg, #585BBD -1.38%, #191B69 113.18%);
$bg-integra: linear-gradient(125deg, rgba(49,52,138,1) 10%, rgba(57,60,148,1) 10%, rgba(63,65,155,1) 30%, rgba(57,60,148,1) 30%);
$blue-logo: invert(63%) sepia(94%) saturate(699%) hue-rotate(170deg) brightness(60%) contrast(85%);
$bg-gray: linear-gradient(180deg, rgba(255,255,255,0.7987570028011204) 0%, rgba(190,190,190,0.7959558823529411) 100%);

// Border

$border100: 100px;
$border18: 18px;
$border5: 5px;


// Breakpoints

$bp-1199: 1199.98px;
$bp-991: 991.98px;
$bp-767: 767.98px;
$bp-500: 500px;


